@import '../../colors.scss';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 100px); // Dejar 50px de margen a cada lado
  margin: 0 50px;
  z-index: 1000;

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    .footer-section {
      max-width: 300px;

      h4 {
        margin-bottom: 10px;
        font-size: 18px;
        border-bottom: 1px solid $accent-color;
        padding-bottom: 5px;
      }

      p {
        margin: 10px 0;
      }

      .social-links {
        list-style: none;
        padding: 0;

        li {
          margin: 5px 0;

          a {
            text-decoration: none;
            color: $accent-color;
            font-size: 16px;
            transition: color 0.3s ease;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: $dark-color;
    color: $light-color;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
