$primary-color: #333;
$secondary-color: #fff;
$accent-color: #f90;
$background-color: #f4f4f4;
$text-color: #000;
$link-color: #61dafb;
$link-hover-color: #646cffaa;
$dark-color: #222;
$light-color: #bbb;